<header><a href="http://0.0.0.0:3000/words/index">単語一覧</a>/<a href="http://0.0.0.0:3000/words/new">単語追加</a></header>

<h1><%= @word[:name] %></h1>
<div><b>読み方:</b><%= @word[:reading] %></div>　
<div><b>英語:</b><%= @word[:alphabet] %></div>　
<div><b>ジャンル:</b><%= @word[:genre] %></div>　
<h3>意味</h3>
<p><%= @word[:mean] %></p>
